# Node modules
react/node_modules
react/dist

# Maven build artifacts
spring-boot/target
spring-boot/.mvn
spring-boot/mvnw
spring-boot/mvnw.cmd

# Git
.git
.gitignore

# IDEs
.idea
.vscode
*.iml

# Google Credentials
spring-boot/src/main/resources/credentials.json
spring-boot/src/main/resources/tokens

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
